#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv \
		--python /usr/bin/python3 \
		--setuptools \
		--use-system-packages \
		--preinstall "setuptools>=18.5"
